<div class='row'>
    <div class="jumbotron col-md-8 col-md-offset-2">
        <h1>拉勾网管理系统</h1>
        <p>欢迎您进入拉勾网管理系统</p>
        <p><a class="btn btn-primary btn-lg" href="/#/position/1" role="button">开始职位管理</a></p>
    </div>
</div>