.user-menu{
    #user{
        padding:0 !important;
        span{
            padding:15px 0 15px 15px;
            display: inline-block;
            height:100%;
        }
        img{
            margin:13px 0 15px 15px;
        }
    }
}
.user-footer{
    #confirm{
        background:#3c8dbc !important;
    }
}